{% extends 'baseInicio.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
<div data-email="{{ email }}" class="body">

    <div class="container" id="meet">
        
    </div>

    <div class="container" id="chat-container">
        <div id="chat">
            {% for mensaje in mensajes %}
                <p>{{ mensaje.usuario.username }} ({{ mensaje.timestamp|date:"H:i:s" }}): {{ mensaje.mensaje }}</p>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <form id="enviar_mensaje" action="/enviar_mensaje/{{sala.id}}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <input name="mensaje" type="text" id="input" placeholder="Escribe un mensaje...">
                <p> </p>
                <button type="button" onclick="sendMessage()">Enviar</button>
                <input type="checkbox" id="destacar"> Destacar mensaje
                <br>
                
                <span class="puntos-container">Puntos: {{ puntos_usuario.puntos }}</span>
                <button id="seguir-btn">Seguir</button>
                
                <select id="sticker-dropdown">
                    <option value="" selected>Selecciona un Sticker</option>
                    <option value="logo">Sticker 1</option>
                    <option value="logo_transparent">Sticker 2</option>
                    <!-- Agrega más opciones de stickers aquí -->
                </select> 
            </form>
            {% endif %}
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script src="https://meet.jit.si/external_api.js"></script>
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>


<script>

    const usuario = "{{ user.username }}" || "viewers";
    const correo = "{{ user.email }}" || "viewers";


    function sendMessage() {
        var form = $('#enviar_mensaje');
        var url = form.attr('action');

        $.ajax({
            type: 'POST',
            url: url,
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.status === 'OK') {
                    // Limpiar el input de mensaje después de enviar el mensaje
                    $('#input').val('');

                    // Actualizar el contenido del chat con los mensajes recibidos
                    var chatDiv = $('#chat');
                    chatDiv.empty();
                    data.mensajes.forEach(function (mensaje) {
                        var mensajeHTML = '<p>' + mensaje.usuario + ' (' +  mensaje.timestamp  + '): ' + mensaje.mensaje + '</p>';
                        chatDiv.append(mensajeHTML);
                    });
                } else {
                    console.log('Error al enviar mensaje: ' + data.message);
                }
            },
            error: function (error) {
                console.log('Error al enviar mensaje: ' + error);
            }
        });

        // Evitar que el formulario se envíe normalmente
        return false;
    }

    function updateChat() {
    var salaId = {{ sala.id }};
    var url = "/get_messages/" + salaId + "/";

    $.ajax({
        url: url,
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var chatDiv = $('#chat');
            chatDiv.empty(); // Limpiar el contenido actual del chat

            // Verificar si data y data.mensajes están definidos
            if (data && data.mensajes) {
                // Agregar los nuevos mensajes al chat
                data.mensajes.forEach(function (mensaje) {
                    // Obtener la hora actual en formato HH:MM:SS
                    var hora = new Date(mensaje.timestamp).toLocaleTimeString();

                    // Crear el HTML del mensaje con la hora
                    var mensajeHTML = '<p>' + mensaje.usuario + ' (' +  hora  + '): ' + mensaje.mensaje + '</p>';
                    chatDiv.append(mensajeHTML);
                });
            } else {
                console.log('Datos de mensajes no válidos:', data);
            }
        },
        error: function (error) {
            console.log('Error al obtener mensajes: ' + error);
        },
        complete: function () {
            // Establecer un temporizador para la próxima actualización después de 1000 ms (1 segundo)
            setTimeout(updateChat, 1000);
        }
    });
}
    
    // Llama a la función inicialmente para iniciar el proceso de actualización
    updateChat();


    const nombreSala = localStorage.getItem('nombreSalaSeleccionada') || [];
    var interfaceConfig = {

        TOOLBAR_BUTTONS: [
            //'microphone',           //Activar Microfono
            //'camera',               //Activar Camara
            //'closedcaptions',     //mostrar subtítulos
            //'desktop',              //Compartir pantalla
            'fullscreen',           //Pantalla Completa
            //'fodeviceselection',    //Seleccion de dispositivos de audios y videos
            //'hangup',                //SAlir
            //'profile',
            // 'info',               //ver el link
            //'chat',
            //'recording',             //grabar
            //'livestreaming',      //admin lo puede hacer
            //'etherpad',           //Edicion de documentos
            // 'sharedvideo',        //admin lo puede hacer
            //'settings',             //Config de la reunion
            //'raisehand',              //manito
            //'videoquality',           //calidad de video
            //'filmstrip',          //miniatura de los participantes
            //'invite',               //invita a otros a la reunion
            //'feedback',           //Los usuarios dan una retroalimentacion o comentarios durante la reunion
            //'stats',                //estadísticas de la reunión, como datos de rendimiento
            //'shortcuts',          //atajos de teclado
            //'tileview',           //vista que muestra a todos los participantes en mosaico
            //'videobackgroundblur',//desenfocar su fondo de video
            //'download',           //descargar grabaciones o archivos compartidos durante la reunión.
            //'help',               
            //'mute-everyone',    //administrador
            'e2ee'                  //Cifrado de extremo a extremo
        ],

        SETTINGS_SECTIONS: [

        ],
        SHOW_CHROME_EXTENSION_BANNER: false
    };

    const domain = 'meet.jit.si';

    const options = {
        roomName: nombreSala,
        width: '100%',
        height: 500,
        parentNode: document.querySelector('#meet'),
        userInfo: {
            email: correo,
            displayName: usuario,
            role: 'participant'
        },
        noSsl: true,
        interfaceConfigOverwrite: interfaceConfig,
    };
    const api = new JitsiMeetExternalAPI(domain, options);
    </script>

{% endblock %}
