#chat {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    overflow: scroll;
}
#input {
    width: 300px;
}
.message {
    background-color: #f2f2f2; /* Fondo de los mensajes normales */
    padding: 5px;
    margin: 5px 0;
}
.user-message {
    background-color: #4CAF50; /* Fondo de tus mensajes destacados */
    color: white; /* Color del texto en tus mensajes destacados */
}
.puntos-container {
    background-color: #eee;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
}
img{
    height: 25px;
    width: 25px;
}

.row{
    padding-right: 100px;
}