{% extends 'baseInicio.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/formuSala.css' %}">
{% endblock %}

{% block content %}

<form id="formAgregarSala" action="/formuSala" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <label for="txtSala" class="text fs-6 mt-5">Nombre Sala:</label>
                <input name="txtSala" id="txtSala" class="form-control mt-1" type="text" placeholder="Ingrese nombre sala">
                <button onclick="nombreSala()" type="submit" class="btn btn-primary mt-2">Agregar Sala</button>
            </div>
        </div>
    </div>
    
</form>

<script src="{% static 'js/formuSala.js' %}"></script>

{% endblock %}
