{% extends 'baseInicio.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 m-6">
      <div id="meet"></div>
    </div>
    <div class="col-md-6">
      <div id="chat-container">
      
        <form id="formEnviarMensaje" method="POST" enctype="multipart/form-data">
            <div id="chat">
            {% for mensaje in mensajes %}
                <p>{{ mensaje.usuario.username }}: {{ mensaje.contenido }}</p>
            {% endfor %}
            </div>
            {% csrf_token %}
            <input type="text" name="mensaje" id="input" placeholder="Escribe un mensaje...">
            <button type="submit" onclick="sendMessage()">Enviar</button>
        </form>
        <input type="checkbox" id="destacar"> Destacar mensaje
        <br>
        <span class="puntos-container">Puntos: {{ puntos_usuario.puntos }}</span>
        <button id="seguir-btn">Seguir</button>
        <select id="sticker-dropdown">
          <option value="" selected>Selecciona un Sticker</option>
          <option value="logo">Sticker 1</option>
          <option value="logo_transparent">Sticker 2</option>
          <!-- Agrega más opciones de stickers aquí -->
        </select>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script src="https://meet.jit.si/external_api.js"></script>
<script src="{% static 'js/viewer.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}